*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 99%;
    color: #fff;
    background-color: #77b0e9;
    margin: 5px;
    height: 70px;
    border-radius: 25px;
}

.logo {
    margin-right: 250px;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    margin-left: 20px;
}

ul li {
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 30px;
}

li a:hover {
    background-color: indianred;
    font-size: large;
}


button input {
    background: #fff;
    padding: 2px 2px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 50px;
}

#search {
    border-left: none;
    cursor: pointer; 
    font-size: 15px;
    padding: 2px;
    border: 1px solid grey;
}