#parent {
    padding: 20px;
    width: 50%;
    margin: 100px;
    position: relative;
}

#one {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: green;
    position: relative;
    z-index: 2;
}
#two{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: blue;
    position: relative;
    top: 50px;
    left: -50px;
    z-index: 3;
}

#three {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: black;
    position: relative;
    top: 100px;
    left: -100px;
    z-index: 1;
}